In [1]:
########## ------ START OF SCRIPT ------ ##########

# Imports
import os
import psycopg
import requests
import subprocess
import sqlalchemy
import utility_belt
import pandas as pd
import edgar_functions
import psql_conn

In [2]:
headers = {"User-agent": "email@email.com"}
ticker = "nvda"

In [3]:
acc_10k = edgar_functions.get_filter_filing(
    ticker, headers=headers, ten_k=True, accession_number_only=False
)
acc_10q = edgar_functions.get_filter_filing(
    ticker, headers=headers, ten_k=False, accession_number_only=False
)

df_accession = pd.concat([acc_10k, acc_10q], axis=0)
df_accession.sort_index(inplace=True)

In [4]:
links_full = {}
links_core = {}

df_statement_links = pd.DataFrame()

for acc_date, row in df_accession.iterrows():
    acc_num = row["accessionNumber"]

    links_statement_dict, links_statement_df = edgar_functions.get_statement_links(
        ticker,
        acc_num,
        acc_date,
        headers,
    )

    links_full[acc_num] = links_statement_dict[acc_num]
    df_statement_links = pd.concat([df_statement_links, links_statement_df], axis=0)
    print(f"{acc_num} ; {acc_date} ; links retrieved")

df_statement_links.reset_index(drop=True, inplace=True)

000104581014000188 ; 2014-10-26 ; links retrieved
000104581015000036 ; 2015-01-25 ; links retrieved
000104581015000097 ; 2015-04-26 ; links retrieved
000104581015000143 ; 2015-07-26 ; links retrieved
000104581015000173 ; 2015-10-25 ; links retrieved
000104581016000205 ; 2016-01-31 ; links retrieved
000104581016000275 ; 2016-05-01 ; links retrieved
000104581016000300 ; 2016-07-31 ; links retrieved
000104581016000353 ; 2016-10-30 ; links retrieved
000104581017000027 ; 2017-01-29 ; links retrieved
000104581017000075 ; 2017-04-30 ; links retrieved
000104581017000123 ; 2017-07-30 ; links retrieved
000104581017000172 ; 2017-10-29 ; links retrieved
000104581018000010 ; 2018-01-28 ; links retrieved
000104581018000080 ; 2018-04-29 ; links retrieved
000104581018000114 ; 2018-07-29 ; links retrieved
000104581018000150 ; 2018-10-28 ; links retrieved
000104581019000023 ; 2019-01-27 ; links retrieved
000104581019000079 ; 2019-04-28 ; links retrieved
000104581019000144 ; 2019-07-28 ; links retrieved
000104581019000170 ; 2019-10-27 ; links retrieved
000104581020000010 ; 2020-01-26 ; links retrieved
000104581020000065 ; 2020-04-26 ; links retrieved
000104581020000147 ; 2020-07-26 ; links retrieved
000104581020000189 ; 2020-10-25 ; links retrieved
000104581021000010 ; 2021-01-31 ; links retrieved
000104581021000064 ; 2021-05-02 ; links retrieved
000104581021000131 ; 2021-08-01 ; links retrieved
000104581021000163 ; 2021-10-31 ; links retrieved
000104581022000036 ; 2022-01-30 ; links retrieved
000104581022000079 ; 2022-05-01 ; links retrieved
000104581022000147 ; 2022-07-31 ; links retrieved
000104581022000166 ; 2022-10-30 ; links retrieved
000104581023000017 ; 2023-01-29 ; links retrieved
000104581023000093 ; 2023-04-30 ; links retrieved
000104581023000175 ; 2023-07-30 ; links retrieved
000104581023000227 ; 2023-10-29 ; links retrieved
000104581024000029 ; 2024-01-28 ; links retrieved

In [5]:
acc_10q

               accessionNumber  form
reportDate
2023-10-29  000104581023000227  10-Q
2023-07-30  000104581023000175  10-Q
2023-04-30  000104581023000093  10-Q
2022-10-30  000104581022000166  10-Q
2022-07-31  000104581022000147  10-Q
2022-05-01  000104581022000079  10-Q
2021-10-31  000104581021000163  10-Q
2021-08-01  000104581021000131  10-Q
2021-05-02  000104581021000064  10-Q
2020-10-25  000104581020000189  10-Q
2020-07-26  000104581020000147  10-Q
2020-04-26  000104581020000065  10-Q
2019-10-27  000104581019000170  10-Q
2019-07-28  000104581019000144  10-Q
2019-04-28  000104581019000079  10-Q
2018-10-28  000104581018000150  10-Q
2018-07-29  000104581018000114  10-Q
2018-04-29  000104581018000080  10-Q
2017-10-29  000104581017000172  10-Q
2017-07-30  000104581017000123  10-Q
2017-04-30  000104581017000075  10-Q
2016-10-30  000104581016000353  10-Q
2016-07-31  000104581016000300  10-Q
2016-05-01  000104581016000275  10-Q
2015-10-25  000104581015000173  10-Q
2015-07-26  000104581015000143  10-Q
2015-04-26  000104581015000097  10-Q
2014-10-26  000104581014000188  10-Q

In [6]:
acc_10k

               accessionNumber  form
reportDate
2024-01-28  000104581024000029  10-K
2023-01-29  000104581023000017  10-K
2022-01-30  000104581022000036  10-K
2021-01-31  000104581021000010  10-K
2020-01-26  000104581020000010  10-K
2019-01-27  000104581019000023  10-K
2018-01-28  000104581018000010  10-K
2017-01-29  000104581017000027  10-K
2016-01-31  000104581016000205  10-K
2015-01-25  000104581015000036  10-K

In [7]:
acc_10q

               accessionNumber  form
reportDate
2023-10-29  000104581023000227  10-Q
2023-07-30  000104581023000175  10-Q
2023-04-30  000104581023000093  10-Q
2022-10-30  000104581022000166  10-Q
2022-07-31  000104581022000147  10-Q
2022-05-01  000104581022000079  10-Q
2021-10-31  000104581021000163  10-Q
2021-08-01  000104581021000131  10-Q
2021-05-02  000104581021000064  10-Q
2020-10-25  000104581020000189  10-Q
2020-07-26  000104581020000147  10-Q
2020-04-26  000104581020000065  10-Q
2019-10-27  000104581019000170  10-Q
2019-07-28  000104581019000144  10-Q
2019-04-28  000104581019000079  10-Q
2018-10-28  000104581018000150  10-Q
2018-07-29  000104581018000114  10-Q
2018-04-29  000104581018000080  10-Q
2017-10-29  000104581017000172  10-Q
2017-07-30  000104581017000123  10-Q
2017-04-30  000104581017000075  10-Q
2016-10-30  000104581016000353  10-Q
2016-07-31  000104581016000300  10-Q
2016-05-01  000104581016000275  10-Q
2015-10-25  000104581015000173  10-Q
2015-07-26  000104581015000143  10-Q
2015-04-26  000104581015000097  10-Q
2014-10-26  000104581014000188  10-Q

Restarted Python 3.11.3

In [1]:
########## ------ START OF SCRIPT ------ ##########

# Imports
import os
import psycopg
import requests
import subprocess
import sqlalchemy
import utility_belt
import pandas as pd
import edgar_functions
import psql_conn

In [2]:
headers = {"User-agent": "email@email.com"}
ticker = "nvda"

In [3]:
acc_10k = edgar_functions.get_filter_filing(
    ticker, headers=headers, ten_k=True, accession_number_only=False
)
acc_10q = edgar_functions.get_filter_filing(
    ticker, headers=headers, ten_k=False, accession_number_only=False
)

df_accession = pd.concat([acc_10k, acc_10q], axis=0)
df_accession.sort_index(inplace=True)

In [4]:
df_accession

                     reportDate  form
accessionNumber
0001045810-14-000188   20141026  10-Q
0001045810-15-000036   20150125  10-K
0001045810-15-000097   20150426  10-Q
0001045810-15-000143   20150726  10-Q
0001045810-15-000173   20151025  10-Q
0001045810-16-000205   20160131  10-K
0001045810-16-000275   20160501  10-Q
0001045810-16-000300   20160731  10-Q
0001045810-16-000353   20161030  10-Q
0001045810-17-000027   20170129  10-K
0001045810-17-000075   20170430  10-Q
0001045810-17-000123   20170730  10-Q
0001045810-17-000172   20171029  10-Q
0001045810-18-000010   20180128  10-K
0001045810-18-000080   20180429  10-Q
0001045810-18-000114   20180729  10-Q
0001045810-18-000150   20181028  10-Q
0001045810-19-000023   20190127  10-K
0001045810-19-000079   20190428  10-Q
0001045810-19-000144   20190728  10-Q
0001045810-19-000170   20191027  10-Q
0001045810-20-000010   20200126  10-K
0001045810-20-000065   20200426  10-Q
0001045810-20-000147   20200726  10-Q
0001045810-20-000189   20201025  10-Q
0001045810-21-000010   20210131  10-K
0001045810-21-000064   20210502  10-Q
0001045810-21-000131   20210801  10-Q
0001045810-21-000163   20211031  10-Q
0001045810-22-000036   20220130  10-K
0001045810-22-000079   20220501  10-Q
0001045810-22-000147   20220731  10-Q
0001045810-22-000166   20221030  10-Q
0001045810-23-000017   20230129  10-K
0001045810-23-000093   20230430  10-Q
0001045810-23-000175   20230730  10-Q
0001045810-23-000227   20231029  10-Q
0001045810-24-000029   20240128  10-K